* {
    box-sizing: border-box;
  }

  .detalles .name1 {
    font-size: 70px;
    margin-left: 140px;
  }
  
  .detalles body {
    padding-top: 1rem;
  }
  
  .detalles .wrapper2 {
    max-width: 1700px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
  }
  
  .detalles h3 {
    margin: 0;
  }
  
  .detalles .wrapper > * {
    padding: 1em;
  }
  
  .detalles a label {
    display: block;
  }
  
  .detalles a p {
    margin: 0;
  }

  
  .detalles a {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }
  .detalles a p {
    grid-column: 1 / 2;
  }
  
  .detalles .p-file-wrapper2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }