
.detail1 {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "name name name name name name name name name"
    "name name name name name name name name name"
    "data data image image image image image image image"
    "data data image image image image image image image"
    "data data image image image image image image image"
    "favourite favourite image image image image image image image"
    "favourite favourite image image image image image image image"
    "summary summary summary summary summary summary summary summary summary"
    "summary summary summary summary summary summary summary summary summary"; 

  max-width: 1500px;
  margin: 0 auto;
  padding: 1em; 
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
 }

 .detail2 {
  grid-area: name;

 }

 .font1 {
  font-size: 60px;
 }

 .detail3 {
  grid-area: data;
  margin-left: 80px;
}

.detail4 {
  grid-area: summary;
  padding: 1em;
 }

 .detail5 {

  grid-area: image;
  margin-left: 250px;

  /* grid-area: 2 / 3 / 6 / 6;
  margin-bottom: 45px;
  margin-top: 80px;
  margin-left: 250px; */
 }

 .detail6{
  grid-area: favourite;
  margin-left: 80px;
 }

 .fontimg {
  border-radius: 4px;
 }
