.postcontainer {
    padding: 1em;
} 

.profilepostimage {
    border-radius: 4%;
}

.postcoment {
    border-radius: 3%;
    margin-right: 30%;
    margin-bottom: 1%;
    padding: 0.6em; 
    background: #f9f9f9;
    border: 1px solid #c1c1c1; 
}

.postname {
    margin-top: 2%;
}