.tittle1 {
    font-size: 100px;
    margin-left: 350px;
}
* {
  box-sizing: border-box;
}

.wrapper1 {
  padding-top: 1rem;
}

.wrapper1 {
    border-radius: 4px;
    height: 900px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
}

h3 {
  margin: 0;
}

input:focus,
textarea:focus {
  outline: 3px solid green;
}


select:focus,
textarea:focus {
  outline: 3px solid green;
}

select,
textarea,
button {
  width: 90%;
  height: 60px;
  border: 1px solid #000;
  border-radius: 4px;
}

input,
textarea,
button {
  width: 90%;
  border: 1px solid #000;
  border-radius: 4px;
}

.wrapper1 > * {
  padding: 1em;
}

form label {
  display: block;
}

form p {
  margin: 0;
}

button,
input,
textarea {
  padding: 1em;
}

button {
    color: black;
    font-size: 20px;
    font-weight: 500;
    background: rgb(129, 226, 129);
    width: 91%;
    height: 90%;
    border: 0;
    border-radius: 4px;
}


button:hover, button:focus {
  background: green;
    opacity: 30%;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
form p {
  grid-column: 1 / 2;
}

.input-file-wrapper {
    margin-top: 190px;
    grid-column: 2 / 6;
    grid-row: 1 / 5;
}

.image1{
    border-radius: 4px;
}
