 .userprofile {
    display: grid;
    grid-auto-flow: column; /*
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 

      "username1 username1 username1 username1 username1 userimage userimage userimage userimage userimage userimage"
      "username1 username1 username1 username1 username1 userimage userimage userimage userimage userimage userimage"
      ". . . . . userimage userimage userimage userimage userimage userimage"
      "list list list list1 list1 userimage userimage userimage userimage userimage userimage"
      "list list list list1 list1 userimage userimage userimage userimage userimage userimage"
      "list list list list1 list1 userimage userimage userimage userimage userimage userimage"
      "list list list list1 list1 . . . . . ."
      "list list list list1 list1 . . . . . ."
      "list list list list1 list1 . . . . . ."
      "list list list list1 list1 . . . . . ."
      "list list list list1 list1 upload1 upload1 upload1 upload1 upload1 upload1"; 

      max-width: 1400px;
      height: 1000px;
      margin: 0 auto;
      padding: 1em; 
      background: #f9f9f9;
      border: 1px solid #c1c1c1;
}
.username1 { 
    grid-area: username1;
    margin-top: 50px;
    margin-left: 170px;
}*/
 }
.userimage { 
    /* margin-top: 15px;
    grid-area: userimage;
    margin-left: 130px; */
    
    border: solid;
    width: 100px;
    height: 100px;

}
.name-list{
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.list-container{
    background-color: beige;
    display: grid;
    grid-template-columns: 300px 450px;
}
.lists-container{
    background-color: none;
}
.buttonListName{
    width: 180px;
    color:#777777;
    border-color:#dcdcdc;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:linear-gradient(#ededed, #dfdfdf);
}
/*
.userimage1 {
    border-radius: 4%;
}

.upload1 { 
    grid-area: upload1;
    margin-top: 300px;
    margin-left: 430px;
}
*/
.list { 
    display: grid;
    /* grid-area: list;
    margin-left: 80px; */
}

.ButtonNewLIst, .buttonEdit, .buttonDelete{
  color:#777777;
  border-color:#dcdcdc;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#ededed, #dfdfdf);
}

.buttonListName,.ButtonNewLIst, .buttonEdit, .buttonDelete:hover {
    background: linear-gradient(#dfdfdf, #ededed);
  }

/*
.list1 { 
    grid-area: list1; 
    margin-left: 30px;
} */