.CardsRecipes{
    margin: auto;
    max-width: 70%;
}

.CardHeader h1{
    
    
    margin: auto;
}

.OrdenRankingRecipes{
    display: flex;
    
}

.OrdenRankingRecipes .form-select{
    max-width: 250px;
}

.options-recipes{
    display: flex;
    justify-content: space-between;
    
}